@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: Bungee;
    src: url(Bungee-Regular.ttf);
}

/* Styling the chatbot image  */
img {
    width: 200px;
    border-style: none;
    display: block;
    margin: auto;
    padding-top: 3%;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #39A2DB;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    height: 350px;
    width: 300px;
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 10px;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 400px;
  }
  
  /* Set a style for the submit/login button */
  .btn {
    background-color: #CAECFC;
    color: #39A2DB;
    padding: 16px 20px;
    border: 3px solid #39A2DB;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add some hover effects to buttons */
 .btn:hover, .open-button:hover {
    opacity: 1;
  }

/*Styling star rating*/
#star-rating {
    display: inline-flex;
    height: 40px;
    background: transparent;
    direction: rtl;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-left: 40px;
    margin-top: 10px;
  }
  #star-rating input[type="radio"] {
    display: none;
  }
  #star-rating label {
    display: block;
    width: 40px;
    height: 40px;
    background: url('star.png');
    background-repeat: no-repeat;
    background-size: 80% 80%;
}
  #star-rating input[type="radio"]:checked ~ label {
    display: block;
    width: 40px;
    height: 40px;
    background: url("star-checked.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
  }